* text=auto !eol
/Makefile -text
/apertium-da-nb.da-nb.dix -text
/apertium-da-nb.da-nb.t1x -text
/apertium-da-nb.da.dix -text
/apertium-da-nb.nb-da.t1x -text
/apertium-da-nb.nb.dix -text
/da-nb.prob -text
/full.nb.dix -text
/modes.xml -text
