/*.bin
/*.mode
/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/dan-nor.prob
/install-sh
/missing
/modes
/nno-dan.prob
/nob-dan.prob
/ap_include.am
