/*.bin
/*.mode
/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/dan-nor.prob
/install-sh
/missing
/modes
/nno-dan.prob
/nob-dan.prob
/ap_include.am
/dev/testvoc/__pycache__/
/test/*-output.txt
/test/output/
/test/expected/*-morph.txt
/test/expected/*-seg.txt
/test/expected/*-disam.txt
/test/expected/*-tagger.txt
/test/expected/*-pretransfer.txt
/test/expected/*-autoseq.txt
/test/expected/*-biltrans.txt
/test/expected/*-lex.txt
/test/expected/*-transfer.txt
/test/expected/*-dgen.txt
/test/expected/*-genprefs.txt
# postgen is the one we track of test/expected
