* text=auto !eol
/Makefile -text
/apertium-da-nb.da-nb.dix -text
/apertium-da-nb.da-nb.t1x -text
/apertium-da-nb.da.dix -text
/apertium-da-nb.nb-da.rlx -text
/apertium-da-nb.nb-da.t1x -text
/apertium-da-nb.nb.dix -text
/apertium-view.sh -text
/da-nb.prob -text
dev/apertium-da-nb.da-nb.dix -text
dev/cuento.da.txt -text
dev/cuento.nb.txt -text
dev/full.nb.dix -text
dev/generation-test.da-nb.sh -text
dev/nb-da.test -text
dev/nbkorpus5000.txt -text
dev/testvoc/inconsistency-summary.sh -text
dev/testvoc/inconsistency.sh -text
dev/testvoc/testvoc-summary.dan-nob.txt -text
dev/testvoc/testvoc-summary.nob-dan.txt -text
dev/testvoc/testvoc.sh -text
/modes.xml -text
/nb-da.prob -text
