* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/TODO -text
/alt.xsl -text
/apertium-dan-nor.dan-nno.lrx -text
/apertium-dan-nor.dan-nno.t1x -text
/apertium-dan-nor.dan-nob.lrx -text
/apertium-dan-nor.dan-nob.t1x -text
/apertium-dan-nor.dan-nor.dix -text
/apertium-dan-nor.dan.acx -text
/apertium-dan-nor.nno-dan.lrx -text
/apertium-dan-nor.nob-dan.lrx -text
/apertium-dan-nor.nor-dan.t1x -text
/apertium-dan-nor.nor-dan.t2x -text
/apertium-dan-nor.nor.acx -text
/apertium-view.sh -text
/autogen.sh -text
/configure.ac -text
/dan-nor.prob -text
dev/apertium-da-nb.da-nb.dix -text
dev/apertium-dan-nor.nno.dixBEFORETRIM -text svneol=unset#application/xml
dev/apertium-dan-nor.nob.dixBEFORETRIM -text svneol=unset#application/xml
dev/cuento.da.txt -text
dev/cuento.nb.txt -text
dev/dan-nor-bidix-candidates -text
dev/full.nb.dix -text
dev/generation-test.da-nb.sh -text
dev/nb-da.test -text
dev/nbkorpus5000.txt -text
dev/sortedbidixes/dan-nb.dix -text svneol=unset#application/xml
dev/sortedbidixes/dan-nn.dix -text svneol=unset#application/xml
dev/sortedbidixes/sortedbidixes.tar.gz -text svneol=unset#application/x-gzip
dev/testvoc/bidix-unknowns.sh -text
dev/testvoc/generation.sh -text
dev/testvoc/streamparser.py -text
/modes.xml -text
t/README.org -text
t/config.sh -text
t/latest-pending.results -text
t/latest-regression.results -text
t/pending-tests -text
t/regression-tests -text
t/update-latest -text
t/wiki-tests -text
texts/evaluationtext14072013.dan.txt -text
texts/evaluationtext14072013.nob.txt -text
texts/finalevaluation.edited.nob-dan.dan.txt -text
texts/finalevaluation.nob.txt -text
texts/finalevaluation.unedited.nob-dan.dan.txt -text
